# {{ ansible_managed }}

export PATH="/usr/local/bin:$PATH"
export PATH="$(brew --prefix)/opt/python/libexec/bin:$PATH"

export JAVA_HOME=$(/usr/libexec/java_home)

export EDITOR=vim

set -o vi

red=$(tput setaf 1)
green=$(tput setaf 2)
yellow=$(tput setaf 3)
blue=$(tput setaf 4)
orange=$(tput setaf 9)
base01=$(tput setaf 10)
reset=$(tput sgr0)

if [[ "$USER" == "root" ]]
then
  user_color=$red
else
  user_color=$green
fi

export PROMPT_DIRTRIM=5

function git_ps1() {
  fmt="$base01:$yellow%s"
  branch=`git branch 2> /dev/null | grep '*' | sed 's/* \(.*\)/(\1)/'`
  if [ -z $branch ]
  then
    :
  else
    printf $fmt $branch
  fi
}
export PS1='\[\033]0;\w\007\]\n\[$user_color\]\u\[$base01\]@\[$green\]\h\[$base01\]:\[$orange\]\w$(git_ps1)\[$base01\]\n\$ \[$reset\]'

export LSCOLORS=gxfxbEaEBxxEhEhBaDaCaD
alias ls="ls -G"

alias timestamp="date -u +%Y.%m.%d_%H.%M"

if [ -f $(brew --prefix)/etc/bash_completion ]
then
  . $(brew --prefix)/etc/bash_completion
fi

if [ -f $(brew --prefix)/bin/rbenv ]
then
  eval "$(rbenv init -)"
fi

