# {{ ansible_managed }}

export PATH="/usr/local/bin:/usr/local/sbin:$PATH"
export PATH="$(brew --prefix)/opt/gnu-getopt/bin:$PATH"
export PATH="$(brew --prefix)/opt/openjdk/bin:$PATH"

export JAVA_HOME="$(brew --prefix)/opt/openjdk"

export EDITOR=vim

export BASH_SILENCE_DEPRECATION_WARNING=1

set -o vi

red=$(tput setaf 1)
green=$(tput setaf 2)
yellow=$(tput setaf 3)
blue=$(tput setaf 4)
orange=$(tput setaf 9)
base01=$(tput setaf 10)
reset=$(tput sgr0)

if [[ "$USER" == "root" ]]
then
  user_color=$red
else
  user_color=$green
fi

export PROMPT_DIRTRIM=5

function git_ps1() {
  fmt="$base01:$yellow%s"
  branch=`git branch 2> /dev/null | grep '*' | sed 's/* \(.*\)/(\1)/'`
  if [ -z "$branch" ]
  then
    :
  else
    printf $fmt "$branch"
  fi
}
function virtual_env_ps1() {
  virtual_env=""

  if [ ! -z "$VIRTUAL_ENV" ]
  then
    virtual_env="($(basename $VIRTUAL_ENV)) "
  fi

  echo "$virtual_env"
}
function symbol_ps1() {
  symbol="$"

  if [ $? -ne 0 ]
  then
    symbol="\[$red\]$symbol"
  fi

  echo "$symbol"
}
function ps1() {
  if [ $? -eq 0 ]
  then
    symbol="\$"
  else
    symbol="$red\$"
  fi

  PS1='\[\033]0;\w\007\]\n\[$user_color\]\u\[$base01\]@\[$green\]\h\[$base01\]:\[$orange\]\w$(git_ps1)\n\[$base01\]$(virtual_env_ps1)$symbol \[$reset\]'
}
export PROMPT_COMMAND=ps1

export LSCOLORS=gxfxbEaEBxxEhEhBaDaCaD
alias ls="ls -G"

alias timestamp="date -u +%Y.%m.%d_%H.%M"

if [ -f $(brew --prefix)/etc/bash_completion ]
then
  . $(brew --prefix)/etc/bash_completion
fi

if [ -f $(brew --prefix)/bin/rbenv ]
then
  eval "$(rbenv init -)"
fi

if [ -f $(brew --prefix)/bin/pyenv ]
then
  eval "$(pyenv init -)"
fi

if [ -f $(brew --prefix)/etc/profile.d/z.sh ]
then
  source $(brew --prefix)/etc/profile.d/z.sh
fi

if [ -d $(brew --prefix)/opt/openssl/lib ]
then
  export LIBRARY_PATH=$LIBRARY_PATH:/usr/local/opt/openssl/lib/
fi

export FZF_DEFAULT_COMMAND='ag --hidden --ignore .git -g ""'

source "/usr/local/opt/fzf/shell/completion.bash"
source "/usr/local/opt/fzf/shell/key-bindings.bash"

for f in `ls $HOME/.profile.d | sort -V`
do
  source ".profile.d/$f"
done
